inputdata/processedtexts/*
!inputdata/processedtexts/.gitkeep
inputdata/resources/*
!inputdata/resources/.gitkeep
inputdata/fulltexts/*
!inputdata/fulltexts/.gitkeep 
outputdata/*
!outputdata/.gitkeep 
*.csv
__pycache__